@font-face {
  font-family: Avenir;
  src: url("../../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("truetype"), url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Avenir;
  src: url("../../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("truetype"), url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Avenir;
  src: url("../../assets/Font/Alternative files/AvenirNextLTProDemi.ttf") format("truetype"), url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("woff");
  font-style: normal;
  font-weight: 600;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Avenir;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    max-width: 1280px;
    margin: auto;
    width: 100%;
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }
}
.hero .wrapper {
  height: 100%;
}

.header {
  background-color: #323232;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-self: flex-start;
    padding: 0;
    margin: 0;
  }
}
.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
  font-weight: 600;
  font-size: 2.6rem;
}
.nav__list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .nav__list {
    justify-content: flex-start;
    padding: 0 8rem;
    height: 100%;
  }
}
.nav__item {
  position: relative;
  width: 50%;
  text-align: center;
  margin: 0;
  padding: 0 0rem 2rem;
  font-size: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
}
.nav__item--active::after {
  height: 0.3rem;
}
@media screen and (min-width: 768px) {
  .nav__item {
    display: flex;
    flex-direction: row;
    align-items: nul;
    padding: 1rem;
    width: auto;
    padding: 29px 0rem;
    margin-right: 7rem;
  }
}
.nav__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: white;
}
.nav__item__link {
  text-decoration: none;
  color: #afafaf;
}
.nav__item:hover .nav__list__item__link {
  color: white;
}
.nav__item:hover::after {
  height: 0.3rem;
}
.nav__logo-link {
  text-decoration: none;
}
.nav__link {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.footer {
  background-color: #323232;
}

.contact {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .contact__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 5rem;
  }
}
.contact__title {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}
@media screen and (min-width: 768px) {
  .contact__title {
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin: 0;
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 768px) {
  .contact__social {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 5.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .contact__social {
    margin-left: 7.4rem;
  }
}
.contact__img:first-child {
  padding-left: 0;
}
.contact__link {
  padding-right: 2.5rem;
}
.contact__logo {
  order: 3;
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .contact__logo {
    display: flex;
    justify-content: flex-end;
    order: 1;
    margin-left: auto;
  }
}
.contact__copyright {
  order: 5;
}
@media screen and (min-width: 768px) {
  .contact .block {
    display: flex;
    justify-content: justify-content;
    flex-direction: row;
    padding: 2rem 0;
  }
  .contact .block__article {
    padding-right: 5rem;
    padding-bottom: 2rem;
  }
  .contact .block__article:last-child {
    padding-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .contact .block__article {
    padding-right: 7rem;
  }
}
.contact .block__info {
  margin: 1.8rem 0;
}
@media screen and (min-width: 768px) {
  .contact .block__info {
    padding: 0;
  }
}
.contact .block__subtitle, .contact .block__subtitle-location {
  color: white;
  font-size: 1.2rem;
  margin: 0.3rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .contact .block__subtitle, .contact .block__subtitle-location {
    padding: 0;
    font-size: 1.4rem;
  }
}
.contact .block__subtitle-location {
  font-weight: 400;
}
.contact .block__email {
  font-size: 1rem;
  margin: 0 0.3rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .contact .block__email {
    padding: 0;
    font-size: 1.3rem;
  }
}
.contact .block__email-link {
  text-decoration: none;
  color: white;
}
.contact__copyright {
  color: white;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__copyright {
    padding: 0;
    font-size: 1.3rem;
  }
}

.shows__button, .form__button {
  background-color: #323232;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1.7rem 0 2rem;
  padding: 1rem 7.6rem;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .shows__button, .form__button {
    width: auto;
    flex-grow: 0;
    margin-left: auto;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__button, .form__button {
    padding: 1rem 1.5rem;
    width: 21%;
  }
}

.form__button {
  font-size: 1.5rem;
  width: 82%;
  height: 4rem;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-style: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .form__button {
    align-items: flex-end;
    width: 24%;
    justify-content: center;
  }
}

.hero {
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;
  position: relative;
}
.hero::after {
  opacity: 0.5;
  background-color: #323232;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: row;
    align-items: nul;
    height: 50vh;
  }
}
.hero__title {
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 3rem;
  font-weight: 600;
  padding: 0;
  position: relative;
  z-index: 2;
  height: 100%;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .hero__title {
    display: flex;
    flex-direction: row;
    align-items: nul;
    font-size: 3.75rem;
    font-weight: 600;
  }
}

.description {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 1.6rem 0 1rem;
  margin: 0rem;
}
.description__title {
  font-size: 2.6rem;
  font-weight: 600;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .description__title {
    padding: 2rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .description__title {
    text-align: left;
    padding: 1.6rem 0;
  }
}
.description__image {
  padding: 1rem 0;
  width: 98%;
}
@media screen and (min-width: 768px) {
  .description__image {
    margin: 0 auto;
    padding: 1rem 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .description__image {
    padding: 1rem 7rem;
  }
}

.about {
  margin: 0 1rem;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 0 5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding: 0 7rem;
  }
}
.about__quote {
  padding: 0rem;
  margin: 0rem;
  font-weight: 700;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .about__quote {
    margin: 0;
    text-align: left;
    padding-right: 7rem;
    font-size: 1.9rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote {
    padding-right: 46rem;
  }
}
.about__quote-author {
  font-size: 1.2rem;
  padding: 1rem 0rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .about__quote-author {
    padding-right: 13rem;
    margin: 0;
    padding-top: 1.5rem;
    font-weight: 600;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__quote-author {
    max-width: 1280px;
    margin: auto;
    justify-content: space-between;
  }
}
.about__title {
  font-weight: 600;
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    padding-top: 1rem;
    margin-bottom: 0rem;
    font-size: 2rem;
  }
}
.about__story {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 2rem 0;
  line-height: 2.2rem;
}
@media screen and (min-width: 768px) {
  .about__story .about__content {
    margin-top: 0;
    font-weight: 400;
    font-size: 1.4rem;
  }
  .about__story .about__content:first-child {
    padding-right: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .about__story {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: unset;
  }
}

.section {
  background-color: #fafafa;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
.gallery__title {
  font-size: 3.5rem;
  font-weight: 600;
  margin: 0;
  padding: 1.5rem 0 0;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    padding: 2.5rem 0 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__title {
    padding: 3rem 0 1.5rem;
  }
}
.gallery__image {
  padding: 2rem 0 0;
  width: 100%;
  filter: grayscale(100%);
  transition: filter 1s ease;
}
.gallery__image:hover {
  filter: grayscale(0);
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: 33%;
    padding: 7px;
  }
}
.gallery__image:last-child {
  padding-bottom: 2.5rem;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form__title {
  font-size: 2.5rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .form__title {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .form__title {
    padding-left: 1rem;
  }
}
.form__error-comment {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  height: 0;
  padding-left: 5rem;
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .form__error-comment {
    padding-left: 13rem;
  }
}
@media screen and (min-width: 1280px) {
  .form__error-comment {
    padding-left: 39rem;
  }
}
.form__error {
  font-size: 1.3rem;
  font-weight: 600;
  color: tomato;
  height: 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .form__error {
    font-weight: 700;
    width: 44rem;
    font-size: 1.5rem;
  }
}
.form__info {
  display: flex;
}
@media screen and (min-width: 768px) {
  .form__info {
    justify-content: center;
  }
}
.form__input {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-right: 0rem;
  padding-left: 1.5rem;
}
.form__label {
  color: #afafaf;
  font-size: 1rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.form__name, .form__comment {
  background-color: #fafafa;
  width: 23.8rem;
  height: 4rem;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  padding: 0.8rem;
  margin: 1rem 0;
  font-family: Avenir;
}
.form__name:focus, .form__comment:focus {
  outline: none;
}
@media screen and (min-width: 768px) {
  .form__name, .form__comment {
    width: 50rem;
    height: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .form__name, .form__comment {
    width: 47rem;
    height: 4rem;
  }
}
.form__image {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  padding: 0;
  margin: 2.5rem 0;
}
@media screen and (min-width: 768px) {
  .form__image {
    width: 4.8rem;
    height: 4.8rem;
  }
}
.form__btn {
  display: flex;
  justify-content: end;
}
@media screen and (min-width: 768px) {
  .form__btn {
    justify-content: flex-end;
    width: 90.5%;
  }
}
@media screen and (min-width: 1280px) {
  .form__btn {
    justify-content: center;
    width: 72.5%;
  }
}
.form__comment {
  height: 10rem;
  resize: none;
  font-family: Avenir;
  padding-left: 0.9rem;
}
.form .comments {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 0 2.5rem;
}
.form .comments__info {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  border-top: 1px solid #e1e1e1;
  padding: 1.6rem 0;
  width: 100%;
}
.form .comments__info:last-child {
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 1280px) {
  .form .comments__info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 33rem;
  }
}
.form .comments__name {
  text-align: left;
  padding-right: 5rem;
  font-weight: 600;
  font-size: 1.4rem;
  margin-left: 1rem;
}
@media screen and (min-width: 768px) {
  .form .comments__name {
    font-size: 1.5rem;
  }
}
.form .comments__content {
  padding-left: 5.4rem;
  font-size: 1.3rem;
  margin: 0;
  line-height: 2rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .form .comments__content {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}
.form .comments__date {
  color: #afafaf;
  font-size: 1.3rem;
  margin-left: auto;
}
.form .comments__image {
  width: 4.5rem;
}/*# sourceMappingURL=bio.css.map */