@font-face {
  font-family: Avenir;
  src: url("../../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("truetype"), url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Avenir;
  src: url("../../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("truetype"), url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Avenir;
  src: url("../../assets/Font/Alternative files/AvenirNextLTProDemi.ttf") format("truetype"), url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("woff");
  font-style: normal;
  font-weight: 600;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Avenir;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    max-width: 1280px;
    margin: auto;
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
  }
}
.hero .wrapper {
  height: 100%;
}

.header {
  background-color: #323232;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 -16px;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-self: flex-start;
    padding: 0;
    margin: 0;
  }
}
.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.nav__list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .nav__list {
    justify-content: flex-start;
    padding: 0 8rem;
    height: 100%;
  }
}
.nav__list__item {
  position: relative;
  width: 50%;
  text-align: center;
  margin: 0;
  padding: 0 0rem 2rem;
  font-size: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .nav__list__item {
    display: flex;
    flex-direction: row;
    align-items: nul;
    padding: 1rem;
    width: auto;
    padding: 29px 0rem;
    margin-right: 7rem;
  }
}
.nav__list__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: white;
}
.nav__list__item__link {
  text-decoration: none;
  color: #afafaf;
}
.nav__list__item--active::after {
  height: 0.3rem;
}
.nav__list__item--active .nav__list__item__link {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.nav__list__item:hover .nav__list__item__link {
  color: white;
}
.nav__list__item:hover::after {
  height: 0.3rem;
}
.nav__logo {
  list-style: none;
  font-weight: 600;
  font-size: 2.6rem;
}
.nav__logo-link {
  text-decoration: none;
}

.footer {
  background-color: #323232;
}

.contact {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 1rem 0;
}
.contact__title {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}
@media screen and (min-width: 768px) {
  .contact__title {
    display: flex;
    justify-content: left;
    flex-direction: row;
    width: 30%;
    margin: -4rem 0 0;
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 768px) {
  .contact__social {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 92%;
    margin-top: -2.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .contact__social {
    width: 57%;
  }
}
.contact__img:first-child {
  padding-left: 0;
}
.contact__link {
  padding-right: 2.5rem;
}
.contact__logo {
  order: 3;
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .contact__logo {
    display: flex;
    justify-content: flex-end;
    order: -1;
    margin-top: 5rem;
  }
}
.contact__copyright {
  order: 5;
}
@media screen and (min-width: 768px) {
  .contact .block {
    display: flex;
    justify-content: justify-content;
    flex-direction: row;
    padding: 2rem 0;
  }
  .contact .block__article {
    padding-right: 5rem;
    padding-bottom: 2rem;
  }
  .contact .block__article:last-child {
    padding-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .contact .block__article {
    padding-right: 7rem;
  }
}
.contact .block__info {
  margin: 1.8rem 0;
}
@media screen and (min-width: 768px) {
  .contact .block__info {
    padding: 0;
  }
}
.contact .block__subtitle, .contact .block__subtitle-location {
  color: white;
  font-size: 1.2rem;
  margin: 0.3rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .contact .block__subtitle, .contact .block__subtitle-location {
    padding: 0;
    font-size: 1.4rem;
  }
}
.contact .block__subtitle-location {
  font-weight: 400;
}
.contact .block__email {
  font-size: 1rem;
  margin: 0 0.3rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .contact .block__email {
    padding: 0;
    font-size: 1.3rem;
  }
}
.contact .block__email-link {
  text-decoration: none;
  color: white;
}
.contact__copyright {
  color: white;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__copyright {
    padding: 0;
    font-size: 1.3rem;
  }
}

.shows__button, .form__button {
  background-color: #323232;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 400;
  margin: 2rem 0;
  padding: 1rem 7.6rem;
  text-align: center;
}

.form__button {
  font-size: 1.5rem;
  width: 80%;
  height: 4rem;
}

.wrapper-shows {
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .wrapper-shows {
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper-shows {
    max-width: 1280px;
    margin: auto;
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
  }
}

.hero {
  background-image: url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 35vh;
  position: relative;
}
.hero::after {
  opacity: 0.5;
  background-color: #323232;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: row;
    align-items: nul;
    height: 50vh;
  }
}
.hero__title {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  font-weight: 400;
  padding: 0;
  position: relative;
  z-index: 2;
  height: 28%;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .hero__title {
    display: flex;
    flex-direction: row;
    align-items: nul;
    font-size: 3.75rem;
    font-weight: 600;
  }
}
.hero__subtitle {
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 2.7rem;
  font-weight: 600;
  padding: 0;
  position: relative;
  z-index: 2;
  height: 40%;
  margin: 0;
}
.hero__music {
  width: 80%;
  height: 27%;
  z-index: 2;
  position: relative;
}

.shows {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.shows__title {
  font-size: 3rem;
  padding: 2.5rem 0 0;
}
.shows__description {
  font-weight: 400;
  font-size: 2rem;
}
.shows__subtitle {
  font-weight: 400;
  font-size: 1.5rem;
  color: #afafaf;
}
.shows__date {
  margin: 0;
  font-weight: 600;
  font-size: 1.8rem;
}
.shows__article--active {
  background-color: #afafaf;
}/*# sourceMappingURL=shows.css.map */