@font-face {
  font-family: Avenir;
  src: url("../../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("truetype"), url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Avenir;
  src: url("../../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("truetype"), url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Avenir;
  src: url("../../assets/Font/Alternative files/AvenirNextLTProDemi.ttf") format("truetype"), url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("woff");
  font-style: normal;
  font-weight: 600;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Avenir;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper {
    max-width: 1280px;
    margin: auto;
    width: 100%;
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }
}
.hero .wrapper {
  height: 100%;
}

.header {
  background-color: #323232;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 -16px;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-self: flex-start;
    padding: 0;
    margin: 0;
  }
}
.nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.nav__list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .nav__list {
    justify-content: flex-start;
    padding: 0 8rem;
    height: 100%;
  }
}
.nav__list__item {
  position: relative;
  width: 50%;
  text-align: center;
  margin: 0;
  padding: 0 0rem 2rem;
  font-size: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .nav__list__item {
    display: flex;
    flex-direction: row;
    align-items: nul;
    padding: 1rem;
    width: auto;
    padding: 29px 0rem;
    margin-right: 7rem;
  }
}
.nav__list__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: white;
}
.nav__list__item__link {
  text-decoration: none;
  color: #afafaf;
}
.nav__list__item--active::after {
  height: 0.3rem;
}
.nav__list__item--active .nav__list__item__link {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.nav__list__item:hover .nav__list__item__link {
  color: white;
}
.nav__list__item:hover::after {
  height: 0.3rem;
}
.nav__logo {
  list-style: none;
  font-weight: 600;
  font-size: 2.6rem;
}
.nav__logo-link {
  text-decoration: none;
}

.footer {
  background-color: #323232;
}

.contact {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 1rem 0;
}
.contact__title {
  font-size: 2rem;
  font-weight: 600;
  color: white;
}
@media screen and (min-width: 768px) {
  .contact__title {
    display: flex;
    justify-content: left;
    flex-direction: row;
    width: 30%;
    margin: -4rem 0 0;
    font-size: 3.4rem;
  }
}
@media screen and (min-width: 768px) {
  .contact__social {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 92%;
    margin-top: -2.9rem;
  }
}
@media screen and (min-width: 1280px) {
  .contact__social {
    width: 57%;
  }
}
.contact__img:first-child {
  padding-left: 0;
}
.contact__link {
  padding-right: 2.5rem;
}
.contact__logo {
  order: 3;
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .contact__logo {
    display: flex;
    justify-content: flex-end;
    order: -1;
    margin-top: 5rem;
  }
}
.contact__copyright {
  order: 5;
}
@media screen and (min-width: 768px) {
  .contact .block {
    display: flex;
    justify-content: justify-content;
    flex-direction: row;
    padding: 2rem 0;
  }
  .contact .block__article {
    padding-right: 5rem;
    padding-bottom: 2rem;
  }
  .contact .block__article:last-child {
    padding-right: 0;
  }
}
@media screen and (min-width: 1280px) {
  .contact .block__article {
    padding-right: 7rem;
  }
}
.contact .block__info {
  margin: 1.8rem 0;
}
@media screen and (min-width: 768px) {
  .contact .block__info {
    padding: 0;
  }
}
.contact .block__subtitle, .contact .block__subtitle-location {
  color: white;
  font-size: 1.2rem;
  margin: 0.3rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .contact .block__subtitle, .contact .block__subtitle-location {
    padding: 0;
    font-size: 1.4rem;
  }
}
.contact .block__subtitle-location {
  font-weight: 400;
}
.contact .block__email {
  font-size: 1rem;
  margin: 0 0.3rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .contact .block__email {
    padding: 0;
    font-size: 1.3rem;
  }
}
.contact .block__email-link {
  text-decoration: none;
  color: white;
}
.contact__copyright {
  color: white;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .contact__copyright {
    padding: 0;
    font-size: 1.3rem;
  }
}

.shows__button, .form__button {
  background-color: #323232;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1.7rem 0 2rem;
  padding: 1rem 7.6rem;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .shows__button, .form__button {
    width: auto;
    flex-grow: 0;
    margin-left: auto;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .shows__button, .form__button {
    padding: 1rem 1.5rem;
    width: 21%;
  }
}

.form__button {
  font-size: 1.5rem;
  width: 82%;
  height: 4rem;
  display: flex;
}
@media screen and (min-width: 768px) {
  .form__button {
    align-items: flex-end;
    width: 24%;
    justify-content: center;
  }
}

.hero {
  background-image: url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.hero .wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.hero::after {
  opacity: 0.5;
  background-color: #323232;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: row;
    align-items: nul;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: nul;
    height: 60vh;
  }
}
.hero__title {
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  font-weight: 400;
  padding: 0;
  position: relative;
  z-index: 2;
  height: 28%;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    display: flex;
    flex-direction: row;
    font-size: 2.5rem;
    font-weight: 600;
    height: auto;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__baner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}
.hero__subtitle {
  color: white;
  display: flex;
  justify-content: left;
  font-size: 2.7rem;
  font-weight: 600;
  padding-right: 2rem;
  position: relative;
  z-index: 2;
  height: 40%;
  margin-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    display: flex;
    flex-direction: row;
    font-size: 6rem;
    font-weight: 600;
    padding-right: 9rem;
    padding-bottom: 3rem;
    margin: 1rem 0rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtitle {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-weight: 600;
    align-items: center;
    padding-right: 12rem;
  }
}
.hero__music {
  width: 100%;
  height: 10rem;
  z-index: 2;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero__music {
    width: 50%;
    height: 10rem;
    z-index: 2;
  }
}
@media screen and (min-width: 1280px) {
  .hero__music {
    height: 12rem;
    width: 40%;
    flex-shrink: 0;
    padding-right: 11rem;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    display: flex;
    align-items: baseline;
  }
}

.titles {
  display: none;
}
@media screen and (min-width: 768px) {
  .titles {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 0 2rem;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .titles {
    margin-left: 15rem;
    padding-right: 10%;
  }
}
.titles__date, .titles__location, .titles__venue {
  width: 25%;
  font-weight: 600;
  font-size: 1.3rem;
  color: #afafaf;
  margin: 2.4rem 0 0.5rem;
}
@media screen and (min-width: 1280px) {
  .titles__date, .titles__location, .titles__venue {
    width: 33%;
  }
}
.titles__venue {
  width: 23%;
}
.titles__location {
  width: 23%;
}

.shows {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.shows__title {
  font-size: 3rem;
  font-weight: 600;
  padding: 4.5rem 0 1rem;
  margin: 0;
}
@media screen and (min-width: 1280px) {
  .shows__title {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    font-size: 3.4rem;
    margin-left: 7rem;
  }
}
.shows__description {
  font-weight: 400;
  font-size: 2rem;
  padding: 2.5rem 0 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .shows__description {
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .shows__description {
    margin: 0 10rem;
    padding-left: 22rem;
  }
}
.shows__article {
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .shows__article {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding: 0 2rem;
  }
  .shows__article:hover {
    background-color: #fafafa;
  }
}
.shows__subtitle {
  font-weight: 600;
  font-size: 1.2rem;
  color: #afafaf;
  padding: 1rem 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .shows__subtitle {
    display: none;
  }
}
.shows__details {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding-bottom: 0.8rem;
}
@media screen and (min-width: 768px) {
  .shows__details {
    width: 25%;
  }
}
@media screen and (min-width: 768px) {
  .shows__details {
    width: 23%;
  }
}
.shows__date {
  margin: 0;
  font-weight: 600;
  font-size: 1.6rem;
  padding-bottom: 0.6rem;
}
@media screen and (min-width: 768px) {
  .shows__date {
    width: 25%;
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__date {
    width: 33%;
  }
}
.shows__article--active {
  background-color: #e1e1e1;
  font-weight: bold;
  color: #323232;
}
.shows__article--active:hover {
  background-color: #e1e1e1;
}/*# sourceMappingURL=shows.css.map */