@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/resets" as *;
@use "./partials/global" as *;
@use "./partials/typography";

.hero {
  background-image: url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .wrapper {
    @include flex(center, column, flex-start);
  }

  &::after {
    opacity: 0.5;
    background-color: $brand-primary;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include tablet {
    @include flex(null, row, nul);
  }

  @include desktop {
    @include flex(center, row, nul);
    height: 60vh;
  }

  &__title {
    color: white;
    @include flex(flex-start, null, center);
    font-size: 2rem;
    font-weight: 400;
    padding: 0;
    position: relative;
    z-index: 2;
    height: 28%;
    margin-bottom: 2rem;

    @include tablet {
      @include flex(null, row, null);
      font-size: 2.5rem;
      font-weight: 600;
      height: auto;
      margin-bottom: 1rem;
    }
  }

  &__baner {
    @include desktop {
      @include flex(space-between, row, null);
      align-items: center;
    }
  }

  &__subtitle {
    color: white;
    @include flex(left, null, null);
    font-size: 2.7rem;
    font-weight: 600;
    padding-right: 2rem;
    position: relative;
    z-index: 2;
    height: 40%;
    margin-bottom: 3rem;

    @include tablet {
      @include flex(null, row, null);
      font-size: 6rem;
      font-weight: 600;
      padding-right: 9rem;
      padding-bottom: 3rem;
      margin: 1rem 0rem;
    }

    @include desktop {
      @include flex(space-between, row, null);
      font-weight: 600;
      align-items: center;
      padding-right: 12rem;
    }
  }

  &__music {
    width: 100%;
    height: 10rem;
    z-index: 2;
    position: relative;

    @include tablet {
      width: 50%;
      height: 10rem;
      z-index: 2;
    }

    @include desktop {
      height: 12rem;
      width: 40%;
      flex-shrink: 0;
      padding-right: 11rem;
    }
  }
}

.container {
  @include desktop {
    display: flex;
    align-items: baseline;
  }
}

.titles {
  display: none;

  @include tablet {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 0 2rem;

    @include desktop {
      margin-left: 15rem;
      padding-right: 10%;
    }
  }

  &__date {
    width: 25%;
    font-weight: 600;
    font-size: 1.3rem;
    color: $brand-secundary-text;
    margin: 2.4rem 0 0.5rem;

    @include desktop {
      width: 33%;
    }
  }

  &__venue {
    @extend .titles__date;
    width: 23%;
  }

  &__location {
    @extend .titles__date;
    width: 23%;
  }
}

.shows {
  @include flex(flex-start, column, null);
  &__title {
    font-size: 3rem;
    font-weight: 600;
    padding: 4.5rem 0 1rem;
    margin: 0;

    @include desktop {
      @include flex(flex-start, row, null);
      font-size: 3.4rem;
      margin-left: 7rem;
    }
  }
  &__description {
    font-weight: 400;
    font-size: 2rem;
    padding: 2.5rem 0 1rem;
    margin: 0;

    @include tablet {
      padding: 0;
    }

    @include desktop {
      margin: 0 10rem;
      padding-left: 22rem;
    }
  }

  &__article {
    border-bottom: 1px solid $bran-color-mercury;

    @include tablet {
      @include flex(flex-start, null, center);
      cursor: pointer;
      padding: 0 2rem;

      &:hover {
        background-color: $brand-secundary;
      }
    }
  }

  &__article--active {
    background-color: $bran-color-mercury;
    font-weight: bold;
    color: $brand-primary;

    &:hover {
      background-color: $bran-color-mercury;
    }
  }

  &__subtitle {
    font-weight: 600;
    font-size: 1.2rem;
    color: $brand-secundary-text;
    padding: 1rem 0;
    margin: 0;

    @include tablet {
      display: none;
    }
  }

  &__details {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding-bottom: 0.8rem;

    @include tablet {
      width: 25%;
    }

    @include tablet {
      width: 23%;
    }
  }

  &__date {
    margin: 0;
    font-weight: 600;
    font-size: 1.6rem;
    padding-bottom: 0.6rem;

    @include tablet {
      width: 25%;
      font-size: 1.4rem;
    }

    @include desktop {
      width: 33%;
    }
  }
}
